body {
    margin: 0;
    overflow: hidden;
}

.slider {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 1s, top 2s;
}
